@import url("colors.css");

body {
	background-color: var(--primary-dark);
}

.sidecard {
	width: 38%;
	min-width: 150px;
	max-width: 260px;
}

#sidecard { /* why? */
	background-color: var(--near-white);
}

.sidecard-btn {
	margin: 1px;

	border-color: white;
	background-color: var(--primary);
}

.budget-view {

}


.transaction-table{
	background-color: white;
	border-color: black;
	border: 3px;
	margin: 5px;
}

.transaction {
	background-color: var(--near-white);
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}