@import url("colors.css");

body {
	background-color: var(--primary-dark);
}

th, td {
	padding: 15px;
}

.sidecard {
	width: 38%;
	min-width: 150px;
	max-width: 260px;
}

#sidecard { /* why? */
	background-color: var(--near-white);
}

.sidecard-btn {
	margin: 1px;
	width: 100%;

	border-color: white;
	background-color: var(--primary);
}

.budgetSummary {
	display: flex;

	background-color: var(--near-white);
}

.budgetSummary-headers {
	height: 100%;
	width: 76%;
}

.budgetSummary-chart {

}

.transactionTable{
	background-color: white;
	border-color: black;
	border: 3px;
	margin: 5px;
}

.transaction {
	background-color: var(--near-white);
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	font-size: 12px;
}

